[Unit]
Description=Ovozli Boshqaruv Tizimi (Vosk + GPIO)
After=network.target sound.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/vCONTROL
ExecStart=/usr/bin/python3 /home/pi/vCONTROL/app.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
